DOMAIN="https://vaultwarden.example.com"
ADMIN_TOKEN="GENERATE_A_REALLY_LONG_KEY_HERE"
#SIGNUPS_ALLOWED="false"
#PUSH_ENABLED="true"
#PUSH_INSTALLATION_ID=""
#PUSH_INSTALLATION_KEY=""
#YUBICO_CLIENT_ID=""
#YUBICO_SECRET_KEY=""
#SMTP_HOST="smtp.example.net"
#SMTP_PORT="587"
#SMTP_FROM="vaultwarden@example.com"
#SMTP_SECURITY="starttls"
#SMTP_USERNAME=""
#SMTP_PASSWORD=""
