DATABASE_URL=postgresql://linkwarden:password@database:5432/linkwarden
NEXTAUTH_SECRET=SOMETHING_VERY_LONG_AND_RANDOM
NEXTAUTH_URL="https://example.com"
DATABASE_NAME=linkwarden
DATABASE_USER=linkwarden
DATABASE_PASSWORD=linkwarden
