MINIO_ROOT_USER="minio"
MINIO_ROOT_PASSWORD="miniopass"
MINIO_PROMETHEUS_URL="http://prom.example.com:9090/prometheus"
MINIO_BROWSER_REDIRECT_URL="http://minio-ui.example.com"
MINIO_DOMAIN="minio.example.com"
